*{
    margin: 0px;
    border: 0px;
    padding: 0%;
    box-sizing: border-box;
}


html{
    font-family: sans-serif;
}

/****** Styling the Header ******************** */



.headerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw; */
    height: 100px;
    padding: 10px 20px;
}

.logo{
    width: 70%;
}

.iconCarrito:hover, .iconX:hover{
    cursor: pointer;
    color: red;
}

.iconX{
    color: green;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 80%;
    border-radius: 10px;
    text-align: center;
    
}

.contenedorCarrito{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-weight: bold;
    font-size: 2.5rem;
    width: 10%;
    justify-self: flex-end;
    align-self: center;
}

   .submenuCarrito{
       display: none;
       position: absolute;
       right: 0PX;
       top: 0PX;
       z-index: 5;
       background-color: rgba(124, 173, 26, 0.8);
       background-color: rgba(168, 178, 192, 0.8);
       width: 100%;
       padding: 10px;
       padding-top: 40px;
       border: 1px solid green;
       margin-top: 50px;
       overflow: hidden;
       border-radius: 5px;
       /* height: 100vh; */
   }

.carritoTable{
    width: 100%;
    border: 1px solid red;
    background-color: whitesmoke;
    border-radius: inherit;
    padding: 20px 5px;
}


   
th, td {
    text-align: center;
    padding: 5px;
  }

td img{
    /* object-fit: cover; */
    width: 80px;
    border-radius: 5px;
}  

.eliminar{
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    
}

.submenuCarrito .vaciarCarritoBtn{
    display: block;
    background-color: rgb(247, 106, 13);
    color: white;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: inherit;
    cursor: pointer;
    margin: 20px auto;
}

/****** Styling the Hero ******************** */



.heroWrapper{
    background: url('../images/hero1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.heroContent{
    display: flex;
    align-items: center;
    height: 100%;
}

.heroContent .titleContainer{
    margin: 0 auto;
    width: 50%;
    height: 70%;
    text-align: center;
    background-color: rgba(22, 3, 3, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.titleContainer .button{
    width: 80%;
    padding: 5px 10px;
    align-self: center;
    margin-top: 10px;
    border-radius: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.titleContainer .button:hover{
    background-color: rgb(245, 223, 29);
}
/****** Styling the Main ******************** */

.main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin: 0 auto;
    gap: 10px;
}

.main .article{
    width: auto;
    border: 1px solid gray;
    padding: .5rem;
    /* overflow:hidden; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgb(233, 230, 230);
}

.articleH1{
    margin-top: 10px;
}

.main img{
    width: 100%;
    
    border-radius: inherit;
}

.main .precioContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
}

.articlePrecio{
    margin: 15px;
}

.articlePrecio span{
    font-weight: bold;
}

.main .agregarButton{
    margin: 10px auto;
    background-color: rgba(243, 141, 25, 0.966);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}


/****** Styling the Footer ******************** */

.footer{
    background-color: black;
    color: whitesmoke;
    height: 200px;
    
}

.footerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 200px;
    font-size: 1.3rem;
   
}

.footerTextContainer{
    text-align: center;
}

.footerTitle{
    margin-bottom: 10px;
}

.iconsContainer{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.iconsContainer a{
    color: white;
}

.iconsContainer a:hover {
    color: yellow;
}

.iconMedia{
    font-size: 2rem;
    color: inherit;
    
}


    /* ********************************************** */
    /* *********  MEDIA QUERYS ********************* */
    /* ********************************************** */


   @media screen and (min-width: 750px){
    .headerContent{
        flex-direction: row;
        height: 60px;
    }

    .material-symbols-outlined {
        
        justify-self: flex-end;
        align-self: flex-end;
       }

    .submenuCarrito{
        width: 40%;
    }

    .logo{
        max-width: 25%;
    }

    /* hero styles */

    .titleContainer .button{
        width: 20%;

    }

/* main styles *********** */

.main {
 
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
 
}

    /* Footer Styles */

    .footerContent{
        flex-direction: row;
        justify-content: space-around;
    }

    .iconsContainer{
        width: 20%;
    }

   }

    


  